/*  */
@import url("https://fonts.googleapis.com/css?family=Cute+Font|MuseoModerno");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
body{
   background: linear-gradient(to left,#3CA55C,#B5AC49);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}  

.create{
    font-family: 'Pacifico', Courier, monospace;
    font-size: 30px;
    /* margin-top: 5px; */
    color: white;
}

.create, h3, h2, h4{
    font-family: 'MuseoModerno', Courier, monospace;
} 

